# tldextract
#flit-core
#setuptools-scm

# qutebrowser/requirements.txt
#colorama
#Jinja2
#MarkupSafe
#PyYAML
#typing-extensions
#zipp

# TODO: add nacl
# userscripts/qute-keepassxc
#nacl

# userscripts/add-nextcloud-bookmarks
requests
# userscripts/openfeeds
bs4
# userscripts/{qute-bitwarden,qute-lastpass}
tldextract
# userscripts/qute-bitwarden
pyperclip
# userscripts/qute-keepass
pykeepass
# userscripts/readability
breadability
readability
# userscripts/tor_identity
stem
