#Jinja2
#MarkupSafe
#Pygments
#packaging
#pyparsing
#toml
#tomli

pathspec
pluggy
hatchling
soupsieve
beautifulsoup4

attrs
certifi
charset-normalizer
cheroot
click
coverage
execnet
filelock
Flask
glob2
hunter
hypothesis
icdiff
idna
importlib-metadata
iniconfig
itsdangerous
jaraco.functools
Mako
manhole
more-itertools
parse
parse-type
pprintpp
py
py-cpuinfo
pytest
pytest-bdd<=4.1.0
pytest-benchmark
pytest-cov
pytest-forked
pytest-icdiff
pytest-instafail
pytest-mock
pytest-qt
pytest-repeat
pytest-rerunfailures
pytest-xdist
pytest-xvfb
PyVirtualDisplay
requests
requests-file
six
sortedcontainers
tldextract
urllib3
vulture
Werkzeug
zipp
